* {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.is-virtual-scroll {
  overflow: hidden;
}

.is-native-scroll.y-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.is-native-scroll.x-scroll {
  overflow-y: hidden;
  overflow-x: scroll;
}

.vs-section {
  position: fixed;
  top: 0; right: 0; left: 0;
  width: 100%; height: auto;
  margin: auto;
  text-align: center;
  will-change: transform;
}

.vs-scrollbar {
  display: block;
  position: absolute;
  transition: transform .6s;
}

.vs-scrollbar.vs-vertical {
  top: 0; right: -5px; bottom: 0;
  width: 15px; height: 100%;
  transform: translate3d(5px,0,0);
}

.vs-scrollbar.vs-horizontal {
  bottom: -5px; left: 0; right: 0;
  width: 100%; height: 15px;
  transform: translate3d(0,5px,0);
}

.is-dragging .vs-scrollbar.vs-horizontal,
.is-dragging .vs-scrollbar.vs-vertical,
.vs-scrollbar.vs-horizontal:hover,
.vs-scrollbar.vs-vertical:hover {
  transform: none;
}

.vs-scrollbar .vs-scrolldrag {
  width: 100%;
  height: auto;
  background: #ccc;
  cursor: pointer;
}

.vs-scroll-view {
  position: relative;
  width: 1px;
}